
{% extends 'base.html' %}
  {% block extra_css %}
    <link type="text/css" rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="{{ MEDIA_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet"
      href="{{ MEDIA_URL }}movies/app/style.css">
  {% endblock %}

  {% block extra_js %}
    <script type="text/javascript"
        src="{{ MEDIA_URL }}movies/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript"
        src="{{ MEDIA_URL }}movies/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!--<script type="text/javascript"-->
        <!--src="{{ MEDIA_URL }}movies/bower_components/lodash/dist/lodash.underscore.min.js"></script>-->
    <script type="text/javascript"
        src="{{ MEDIA_URL }}movies/bower_components/lodash/dist/lodash.min.js"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}movies/app/app.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}movies/app/movies_service.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}movies/app/main.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}movies/app/dialog.js"></script>
  {% endblock %}

  {% block main_content %}
    <div ng-app="movies" ng-controller="mainCtrl as Ctrl"
         id="lead-fields-container" ng-include="'/media/movies/app/index.html'"></div>
  {% endblock %}

