<!-- Delete Modal -->
<div class="modal-header delete-modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">
    </h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this Movie ?</p>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-danger delete-trigger-btn" ng-click="dialog.save()">Delete</button>
    <button type="button" class="btn btn-default" ng-click="dialog.cancel()">Cancel</button>
</div>