<div class="movies-inner-wrapper">
  <a href="/api/logout/" >Log Out</a>
  <form ng-submit="Ctrl.Search(Ctrl.searchQuery)" method="GET"
        class="search-form">
    <input type="text" ng-model="Ctrl.searchQuery" name="text"
           placeholder="Search movies by name or director or Genre"
           style="float: right; width:300px;">
    <input type="submit" style="display: none;">
  </form>
  <section class="section-movies" style="margin-top: 50px;">
    <div class="r-table-header">
      <span class="table-title">Movies</span>
      <span>({{ Ctrl.movies.length }})</span>
      <span class="r-float create-new-btn" ng-if="Ctrl.isStaffUser">
        <button type="button" ng-click="Ctrl.openCreateModal()"
                class="btn btn-success bar-btn">
          Add New
        </button>
      </span>
    </div>

    <div class="r-table-wrapper">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Director Name</th>
          <th>Genre</th>
          <th>IMDB Rating</th>
          <th>99popularity</th>
          <th>Released on</th>
          <th ng-if="Ctrl.isStaffUser">Actions</th>
        </tr>
        <tr ng-repeat="movie in Ctrl.movies">
          <td>{{ movie.name }}</td>
          <td>{{ movie.director_name }}</td>
          <td>{{ movie.genre }}</td>
          <td>{{ movie.imdb_score }}</td>
          <td>{{ movie.popularity }}</td>
          <td>{{ movie.releasing_on }}</td>
          <td ng-if="Ctrl.isStaffUser">
            <i class="fa fa-pencil fa-fw"
               uib-tooltip="Edit movie"
               width="14" height="14" ng-click="Ctrl.openEditModal(movie.id)">
            </i>
            <i class="fa fa-trash" ng-click="Ctrl.onDelete(movie.id)"
               uib-tooltip="Delete movie" width="17" height="17"></i>
          </td>
        </tr>
      </table>
      <div class="es-wrapper" ng-if="Ctrl.movies.length==0">
        <p><i class="fa fa-info-circle" aria-hidden="true"
              style="height: 50px; width: 50px;"></i></p>
        <p class="es-header">No movie for this search result</p>
      </div>
    </div>
  </section>
</div>

<div class="cfy-toast" ng-if="Ctrl.message.success || ctm.message.error"
     ng-class="{'cfy-success-toast': Ctrl.message.success, 'cfy-deleted-toast': Ctrl.message.error}">
  <div class="updated-trigger-toast">
    <i class="fa fa-check-circle toast-tick" aria-hidden="true"></i>
    {{ Ctrl.message.text }}
    <i class="fa fa-times toast-close" aria-hidden="true"
       ng-click="Ctrl.resetMessages()"></i>
  </div>
</div>

