<!-- Movie Modal -->
<!-- Modal content-->
<div class="modal-header">
  <h4 class="modal-title">{{ dialog.dialogSettings.titleText }}</h4>
</div>
<div class="modal-body">
  <div>
    <div class="empty-trigger-wrapper">
      <div class="new-trigger-wrapper">
        <div class="new-trigger-elements">
          <p class="modal-text">Movie Name</p>
          <div class="form-group">
            <input ng-model="dialog.movie.name" type="text" class="form-control"
                   placeholder="Type movie name here">
          </div>
        </div>
        <div class="new-trigger-elements">
          <p class="modal-text">Director name</p>
          <div class="form-group">
            <input ng-model="dialog.movie.director_name" type="text"
                   class="form-control"
                   placeholder="Type director name here">
          </div>
        </div>
        <div class="new-trigger-elements">
          <p class="modal-text">Genre(Comma-separated values)</p>
          <div class="form-group">
            <input ng-model="dialog.movie.genre" type="text"
                   class="form-control"
                   placeholder="Please type comma-separated values">
          </div>
        </div>
        <div class="new-trigger-elements">
          <p class="modal-text">IMDB Score</p>
          <div class="form-group">
            <input ng-model="dialog.movie.imdb_score" type="text"
                   class="form-control"
                   placeholder="This name will be used to identify the trigger">
          </div>
        </div>
        <div class="new-trigger-elements">
          <p class="modal-text">Popularity</p>
          <div class="form-group">
            <input ng-model="dialog.movie.popularity" type="text"
                   class="form-control"
                   placeholder="This name will be used to identify the trigger">
          </div>
        </div>

        <div class="error-found" ng-if="dialog.errors">
          {{ dialog.errors }}
        </div>
        <div class="add-update-cta">
          <button type="button" class="btn btn-success create-trigger-btn"
                  ng-click="dialog.save()">{{ dialog.dialogSettings.saveButtonText}}</button>
          <button type="button" class="btn btn-default create-trigger-cancel"
                  ng-click="dialog.cancel();">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>