/*======== Style for top header =======*/

li a.accounts-icon {
    padding: 12px;
}
.accounts-icon img {
    height: 25px;
    width: 25px;
}

body {
    font-family: 'proxima-nova', arial, sans-serif;
    background: #f3f5f7;
    color: #000;
}
/*========================
   style for page header
=========================*/
header {
    height: 51px;
    max-width: 1030px;
    margin: 0 auto;
    border: 1px solid #dedede;
    background: #fff;
    padding: 14px 22px 4px 37px;
}
.header-title {
    font-weight: 700;
    font-size: 15px;
}
.page-short-video {
    float: right;
    font-weight: 300;
    font-size: 13px;
    cursor: pointer;
}
.play-icob {
    height: 20px;
    width: 20px;
    border: 1px solid #B1B1B1;
    border-radius: 50px;
    margin-right: 4px;
    padding: 3px;
}
.movies-inner-wrapper {
    max-width: 820px;
    margin: 30px auto 20px auto;
}
aside {
    float: left;
    width: 272px;
    background: #fff;
    border: 1px solid #dedede;
}
section {
    float: right;
    width: 100%;
}

/*.trigger-left-filter {*/
    /*list-style: none;*/
    /*padding: 0;*/
    /*margin-bottom: 0;*/
    /*font-size: 13px;*/
/*}*/
/*.trigger-left-filter li {*/
    /*padding: 16px 30px;*/
    /*border-bottom: 1px solid #efefef;*/
    /*border-left: 2px solid transparent;*/
    /*cursor: pointer;*/
/*}*/
/*.trigger-left-filter li>img {*/
    /*vertical-align: bottom;*/
/*}*/
/*.trigger-left-filter li:hover, .m-filter-item.active-filter {*/
    /*background: #f3f5f7;*/
    /*border-left: 2px solid #2ECC71;*/
/*}*/
/*li.active-filter {*/
    /*font-weight: 600;*/
    /*background: #f3f5f7;*/
    /*border-left: 2px solid #0bca7b;*/
/*}*/

/*.trigger-left-filter li:last-child {*/
    /*border-bottom: none;*/
/*}*/
.r-float {
    float: right;
}
.r-table-header {
    background: #fff;
    height: 53px;
    padding: 12px 12px 12px 36px;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
}
.btn-success {
    color: #fff;
    background-color: #0bca7b;
    border-color: #0bca7b;
}
.btn-success:hover, .btn-success:focus {
    background-color: rgba(46, 204, 113, 0.81);
    border-color: rgba(46, 204, 113, 0.81);
}
.bar-btn {
    padding: 5px 11px;
    font-size: 13px;
}

.table {
    background: #fff;
}

.table-title {
    display: inline-block;
    margin-top: 6px;
    font-weight: 600;
    font-size: 14px;
}
.table>tbody>tr>th {
    border-top: none;
    border-bottom: 1px solid #eaeaea;
    padding: 17px 17px 17px 15px;
    font-size: 14px;
    background: #fff;
    font-weight: 600;
}
.table>tbody>tr>td {
    border-top: 1px solid #ececec;
    padding: 12px 17px 12px 15px;
    font-size: 14px;
}

.table>tbody>tr:hover {
    background: #F7F9F9;
}
.r-table-wrapper {
    background: #fff;
    padding: 0 22px;
    border: 1px solid #E8E8E8;
}
.action-edit {
    margin-right: 13px;
}
.modal-title,
.modal-footer,
.modal-body
{
    text-align: center;
    border: none;
}
.modal-header {
    padding: 30px 25px 12px 25px;
    border-bottom: 1px solid #ececec;
    background: #fff;
}
.modal-footer {
    padding: 15px 15px 30px 15px;
}
.modal-body p {
    font-size: 17px;
}
.delete-header-span {
    height: 60px;
    width: 60px;
    border: 1px solid #F1C7C7;
    display: inline-block;
    border-radius: 50px;
    padding-top: 14px;
    text-align: center;
}
.table td img {
    cursor: pointer;
}

.recipients-span {
    cursor: pointer;
}

.modal.fade .modal-dialog
{
    -webkit-transform: translateX(105%);
    -ms-transform: translateX(105%);
    transform: translateX(105%);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    float: right;
    height: 100%;
    top: -48px;
    background: #fff;
}


.modal.in .modal-dialog
{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#editAlertModal .modal-content,
#createAlertModal .modal-content,
#createTriggerModal .modal-content,
#editTriggerModal .modal-content
{
    overflow: auto;
    height: 602px;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.modal-dialog label {
    font-size: 12px;
}
.modal-body-content {
    margin-bottom: 20px;
    padding: 0 50px;
    text-align: left;
}
.modal-body-content input {
    border: 2px solid #EFEFEF;
    padding: 9px 12px;
    border-radius: 3px;
    width: 100%;
    background: #EFEFEF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.modal-body-content input:focus {
    border: 2px solid #EFEFEF;
    background: #fff;
    outline: none;
}
textarea {
    border: 2px solid #EFEFEF !important;
    background-color: #EFEFEF !important;
    -webkit-transition: all .3s ease-in-out !important;
    -moz-transition: all .3s ease-in-out !important;
    -ms-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
}
textarea:focus {
    border: 2px solid #EFEFEF;
    background-color: #fff !important;
}
.alert-modal-header {
    padding-top: 0;
}
select.form-control {
    height: 41px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #EFEFEF;
    border: 2px solid #EFEFEF;
}
select option {
    border: 1px solid #ececec;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #EFEFEF;
    background: #fff;
}

.alert-tabs {
    margin: 0 47px 30px 47px;
    padding: 0;
    border-bottom: 2px solid #F5F5F5;
}
.alert-tabs li {
    display: inline-block;
    list-style: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    padding: 15px 0 20px 0;
    width: 49%;
    font-size: 13px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    margin-bottom: -2px;
}
.alert-tabs li:hover {
    border-bottom: 2px solid #0bca7b;
}
.alert-tabs li>img {
    margin-right: 8px;
}
li.active-edit-tab {
    font-weight: 600;
    border-bottom: 2px solid #0bca7b;
}
.no-recipients-container {
    margin: 40px 50px;
    background: rgba(255, 43, 43, 0.03);
    padding: 45px 40px;
    border: 1px solid rgba(255, 43, 43, 0.14);
    display: none;
}
.no-recipients-container img {
    margin-bottom: 20px;
}
.no-recipients-msg {
    line-height: 24px;
}
.recipients-tab-content {
    display: none;
}
.alert-modal-footer {
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
}
#editAlertModal, #createAlertModal {
    overflow: hidden;
}
.recipient-info {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px 16px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 12px;
}
.recipients-list-container {
    text-align: left;
    margin: 0 50px;
    border: 1px solid #e2e2e2;
    padding: 17px 20px;
}
.recipient-info span {
    margin-right: 8px;
}
.recipient-info img {
    cursor: pointer;
    height: 10px;
    width: 10px;
}

.trigger-modal-items {
    padding: 0;
    border: 1px solid #ececec;
}

.trigger-modal-items li {
    list-style: none;
    text-align: left;
    padding: 9px 13px;
    border-bottom: 1px solid #ececec;
    font-size: 13px;
    cursor: pointer;
    border-left: 2px solid transparent;
}

.m-filter-header {
    background: #f3f5f7;
    font-weight: 600;
}
.empty-trigger-msg {
    display: block;
    background: #fafafa;
    border: 1px solid #ececec;
    padding: 30px 12px;
}
.empty-trigger-msg p {
    font-size: 14px;
}
.update-trigger-elements .modal-text,
.new-trigger-elements .modal-text
{
    font-size: 13px;
    font-weight: 600;
    text-align: left;
}
.update-trigger-elements input,
.new-trigger-elements input {
    font-size: 13px;
}
.update-trigger-elements,
.new-trigger-elements
{
    margin-bottom: 9px;
    /*background: #f3f5f7;*/
    padding: 2px 18px;
}
.new-trigger-elements input {
    background: #efefef;
    border: 2px solid #EFEFEF;
    padding: 9px 12px;
    height: auto;
    color: #000;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.new-trigger-elements input:focus {
    background: #fff;
    border: 2px solid #EFEFEF;
}
.new-trigger-elements textarea {
    overflow: hidden;
}
#createTriggerModal .modal-header,
#editTriggerModal .modal-header
{
    border-bottom: 1px solid #ececec;
    padding: 18px 25px 18px 25px;
}
#createTriggerModal .modal-body,
#editTriggerModal .modal-body
{
    padding: 30px 15px;
}
.add-update-cta {
    margin-top: 30px;
}
.update-trigger-wrapper.edit-trigger-wrapper {
    display: block !important;
    padding: 0 25px;
}
.empty-trigger-wrapper {
    padding: 12px 30px;
}
.cfy-toast, .cfy-deleted-toast {
    position: fixed;
    width: 98%;
    padding: 20px 30px;
    background: #e5f9e7;
    height: 58px;
    top: 80px;
    color: #1a531b;
    border-radius: 3px;
    left: 1%;
    font-weight: 600;
    box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset,0 0 0 0 transparent;
}
.cfy-toast .toast-tick,
.cfy-deleted-toast .toast-tick
{
    font-size: 20px;
    margin-right: 12px;
    vertical-align: middle;
}
.cfy-toast .toast-close,
.cfy-deleted-toast .del-toast-close
{
    float:right;
    font-size: 17px;
    cursor: pointer;
}

.cfy-deleted-toast {
    background: #fff6f6;
    color: #912d2b;
    box-shadow: 0 0 0 1px #e0b4b4 inset,0 0 0 0 transparent;
}

.cfy-toast.ng-enter,
.cfy-toast.ng-leave.ng-leave-active {
    transition: all 1s ease-out;
    opacity: 0;
}

.cfy-toast.ng-enter.ng-enter-active,
.cfy-toast.ng-leave {
    transition: all 1s ease-out;
    opacity: 1;
}
.modal-header .modal-title {
    text-align: center;
}
.delete-modal-header {
    background: #fff;
    border-bottom: none;
}
.delete-modal-header .modal-title {
    text-align: center;
}
.btn-danger {
    border: 1px solid #d43f3a !important;
    color: #d43f3a !important;
    font-weight: normal !important;
    background: transparent !important;
}
.btn-default {
    border: 1px solid #ccc !important;
}
.account-icons-dropdown.open>.dropdown-menu {
    left: -6px;
}
.create-new-btn {
    margin-right: 22px;
}
.ct-delete-modal-wrapper .modal-dialog {
    float: none !important;
    height: auto !important;
}
.ct-delete-modal-wrapper .modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.ct-delete-modal-wrapper .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,27%);
    -ms-transform: translate(0,27%);
    -o-transform: translate(0,27%);
    transform: translate(0,27%);
}

input:-moz-placeholder{
    font-style: normal;
}
input::-moz-placeholder{
    font-style: normal;
}
input::-webkit-input-placeholder{
    font-style: normal;
}
textarea:-moz-placeholder{
    font-style: normal;
}
textarea::-moz-placeholder{
    font-style: normal;
}
textarea::-webkit-input-placeholder{
    font-style: normal;
}
.es-wrapper {
    text-align: center;
    padding: 30px 30px 50px 30px;
}
.es-header {
    font-weight: 600;
    font-size: 16px;
    margin: 20px 0 4px 0;
}
.es-footer {
    color: #777;
}
.error-found {
    color: #D32F2F;
}

.table>tbody>tr>th:last-child,
.table>tbody>tr>td:last-child
{
    text-align: right;
    padding-right: 15px !important;
}

.table>tbody>tr>td:last-child {
    padding-right: 33px;
}
.modal-dialog button {
    font-weight: 600;
}
.table>tbody>tr>th:nth-child(2),
.table>tbody>tr>td:nth-child(2)
{
    padding-right: 56px;
    text-align: center;
}
.table>tbody>tr>td:nth-child(2) {
    padding-right: 48px;
}
.rules-help-link, .rules-help-ico,
.rules-help-link:hover, .rules-help-ico:focus {
    color: #2196f3;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.rules-help-ico {
    margin-left: 4px;
}
.info-keywords-ico {
    margin-left:4px;
    vertical-align: sub;
}
.help_link_bar {
    position: fixed;
    left: -8px;
    top: 135px;
    width: 68px;
    height: 32px;
    cursor: pointer;
    background: #2ecc71;
    padding: 6px 0 0 7px;
    text-align: center;
    -webkit-box-shadow: 0 2px 3px 2px rgba(46, 204, 113, 0.1);
    -moz-box-shadow: 0 2px 3px 2px rgba(46, 204, 113, 0.1);
    box-shadow: 0 2px 3px 2px rgba(46, 204, 113, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.help_link_bar:hover {
    left: -3px;
}
.help_link_bar:after {
    content: '';
    position: absolute;
    border-left: 5px solid #2ecc71;
    border-top: 0 solid transparent;
    border-bottom: 20px solid transparent;
    left: 68px;
    top: 0;
}
.help_link_bar:before {
    content: '';
    position: absolute;
    border-left: 5px solid #2ecc71;
    border-bottom: 0 solid transparent;
    border-top: 20px solid transparent;
    left: 68px;
    bottom: 0;
}
.help_link_bar a {
    text-decoration: none!important;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.help-bar-text {
    font-weight: 500;
    margin: 3px;
    color: #fff;
    font-size: 12px;
}
.help-bar-ico {
    color: #fff;
    font-size: 16px;
    vertical-align: text-top;
}
#myHelpModal .modal-dialog {
    float: none !important;
    height: auto !important;
    transform: inherit !important;
    top: 38px;
}
.email-verification-bar {
    width: 100%;
    position: fixed;
    top: 51px;
    left: 0;
    z-index: 101;
    font-size: 13px;
    font-weight: 400;
    padding: 4px 4px;
    text-align: center;
    background: #FBE9E7;
    border: 1px solid #FFCCBC;
    color: #96281B;
}