<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    {% endblock %}
    <title>
      {% block title %}
        Movies APP
      {% endblock %}
    </title>

    {% block core_css %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}


  </head>

  <body id="body">

    {% block main_content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block responsive_dialogs %}
    {% endblock %}

    {% block core_js %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

 </body>
</html>
